<!DOCTYPE html>
<html lang="en"><link type="text/css" id="dark-mode" rel="stylesheet" href="http://daycarefit.com/"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Required meta tags -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap.min.css")}}>
    <!-- <link href="../static/cover.css" rel="stylesheet"> -->
    <script type="text/javascript" src={{ url_for('static', filename="js/bootstrap.min.js") }}></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127149951-1');
</script>

<title>Error Accessing Webcam</title>
<div class="card-body">
    <h2 class="strong">Error Accessing Webcam</h2><hr class="my-4">
    The webcam example above is intended only as an example, and may not be compatible with all browsers.<br></br>
    To use this in production, please consider <a href=https://github.com/dendrondal/CIf3R#installing-this-library>installing this locally.
    </a>
</div>