<!DOCTYPE html>
<html lang="en"><link type="text/css" id="dark-mode" rel="stylesheet" href="http://daycarefit.com/"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Required meta tags -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap.min.css")}}>
    <!-- <link href="../static/cover.css" rel="stylesheet"> -->
    <script type="text/javascript" src={{ url_for('static', filename="js/bootstrap.min.js") }}></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127149951-1');
</script>
    <title>Recyclable Classsification</title>
  </head><style type="text/css" id="dark-mode-custom-color">
		:root{
			--bg-color:rgba(0,128,0,1 );
			--text-color:rgba(110,110,110,1);
			--a-color:rgba(90,120,120,1);
			--a-visited-color:rgba(120,120,90,1);
			--a-hover-color:rgba(211,211,211,1);
			--input-border-color:rgba(211,211,211,0.2);
			--input-placeholder-color:rgba(173,216,230,1);
			--dialog-bg-color:rgba(36,36,36,0.95);
			--bg-image:linear-gradient(rgba(26,26,26,1),rgba(26,26,26,1));
		}
	</style>
  <body>
    <!-- Page Content -->
    <div class="text-dark container col-9">
      <!-- Jumbotron Header -->
      <header class=" jumbotron jumbotron-fluid my-0 p-4">
        <h2 class="strong">Recyclops</h2><a href="https://github.com/dendrondal/CIf3R"><i class="fa fa-lg fa-github"></i></a>
        <hr class="my-4">
        <p class="lead">A computer vision app that helps you recycle the right things in the right bins for your University</p>
      </header>
      <!-- Page Features -->
      <div class="mt-5 row text-center">
        <div class="mx-auto">
          <div class="bg-light text-dark card mx-auto">
            <div class="card-body">
              <form action="{{ url_for('get_university_guidelines') }}" method="GET" role="form">
                <label class="mt-4" for="uni">Choose your University:</label>
                <select class="form-control custom-select" name="location" id="university">
                <optgroup label="Tennessee">
                  <option selected="" value="UTK">University of Tennessee, Knoxville</option>
                </optgroup>
                <optgroup label="Pennsylvania">
                  <option value="penn_state">Penn State</option>
                </optgroup>
              </select>


                <button type="submit" class="mt-4 mb-1 btn btn-success">Confirm Location</button></form>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <h6>Copyright 2020, Jon Steven Dal Williams</h6>
      </div>
